.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/accessibility-hero-banner.jpg") no-repeat center center fixed;
  background-size: cover;
}

.tabs {
  margin-bottom: -1px !important;
  position: relative;
}
.tab-content {
  padding: 2rem;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  position: relative;
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.features,
.medias {
  padding: 3rem 0;
}

.features .fa,
.features .fab {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}


.has-same-height .card {
  height: 350px;
  overflow: hidden;
}

.skills-content .media + .media {
  margin-top: .5rem;
}

.skills-content .progress {
  height: 4px !important;
}

.section-heading {
  margin-bottom: 2rem;
}

.info-tiles {
  margin: .75rem auto;
  padding: 0 .75rem;
}

.button.is-primary.is-alt {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
  margin-bottom: 1rem;
}
.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.forum-list li {
  margin-bottom: .5rem;
}


@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: #888;
  }
}

.logo-link {
  height: 70px;
  width: 250px;
}

.logo-link img {
  width: 100%;
}

li {
  list-style: none;
}

.hero.is-fullheight {
  min-height: 70vh;
}

.blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

.ol-list li {
  position: relative;
  display: flex;
  align-items: center;
}

.ol-list li::before {
  content: "";
  background: url(../img/arrow_sans_right-512.png) no-repeat;
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-size: contain;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tab-pane .media .media-content .media-title {
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: bold;
}

a:hover,
a:focus {
  outline: none;
  color: #3273dc;
  border-radius: 2px;
  box-shadow: 0 0 2px 1.5px #fff, 0 0 3px 3px #000;
}

.hero.is-info .tabs.is-boxed button {
  margin-bottom: -1px;
  padding: .5em 1em;
  border: none;
  background-color: transparent;
  
  color: inherit;
  font-size: inherit;

  cursor: pointer;
}

.tabs.is-centered .tablist {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tablist .tab-control-item > * {
  pointer-events: none;
}

.hero.is-info .tabs.is-boxed button:hover,
.hero.is-info .tabs.is-boxed button:focus {
  background-color: rgba(10,10,10,.1);
  box-shadow: 0 0 2px 1.5px #fff, 0 0 3px 3px #000;

  opacity: 1;
}

.button:hover, .button:focus,
.button.is-focused:not(:active), .button:focus:not(:active),
.button.is-info:hover, .button.is-info:focus,
.button.is-primary.is-focused:not(:active), .button.is-primary:focus:not(:active),
.button.is-danger.is-focused:not(:active), .button.is-danger:focus:not(:active),
.button.is-info.is-focused:not(:active), .button.is-info:focus:not(:active),
.button.is-link.is-focused:not(:active), .button.is-link:focus:not(:active) {
  box-shadow: 0 0 2px 1.5px #fff, 0 0 3px 3px #000;
  color: inherit;

  outline: none;
}

.hero-body .button.is-info {
  color: #2e2d2d;
}

.footer a:hover, .footer a:focus, 
a.box:focus, a.box:hover,
input:hover, input:focus,
.input:hover, .input:focus,
.select select.is-active, .select select.is-focused, .select select:active, .select select:focus,
.input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus {
  box-shadow: 0 0 2px 1.5px #fff, 0 0 3px 3px #000;
  outline: none;
}

.input.is-danger:hover, .input.is-danger:focus {
  box-shadow: 0 0 3px 3px rgba(255,56,96, .7);
}

.input.is-success:hover, .input.is-success:focus {
  box-shadow: 0 0 3px 3px rgba(35,209,96, .7);
}

.visually-not-marked-fieldset {
  border: none;
}

.subtitle {
  color: #3e3d3d;
}

.hero.is-info .title,
.hero.is-info .subtitle,
.hero.is-info .tabs {
  color: #160f78;
}

.forum-section .tag.is-primary,
.forum-section .tag.is-success,
.forum-section .tag.is-light {
  color: #000;
}

.forum-section .tag.is-dark {
  color: #fff;
}

.forum-section .media-right .has-text-grey-light {
  color: #94001E !important;
}

.footer a {
  color: #2a62be;
}

.portfolio-container .tag.is-danger {
  color: #340a0a;
}

.help.is-success {
  color: #0D5426;
}

.help.is-danger {
  color: #AD0023;
}

.embed-container.image iframe {
  border: none;
}

.external-link-symbol {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/external-link.svg);
}

.skip-to-content-block {
  position: relative;
}

.skip-to-content-block .expand-menu-toggler {
  position: absolute;
  opacity: 0.01;
  top: -100px;
  padding: 5px;
  padding-right: 55px;

  white-space: nowrap;
  font-size: 24px;

  transition: top .5s ease-out,background .5s linear;
}

.skip-to-content-block .expand-menu-toggler::before {
  position: absolute;
  right: 10px;
  top: calc(50% + 3px);
  transform: translateY(-50%);

  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 15px solid #000;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.skip-to-content-block .expand-menu-toggler:focus {
  top: 0;
  left: 0;
  background-color: #ccc;
  z-index: 1000;
  
  opacity: 1;
  transition: top .1s ease-in,background .3s linear;

  box-shadow: 0 0 2px 1.5px #000, 0 0 4px 7px #fff;
  outline: none;
}

.skip-to-content-block .short-nav-list {
  display: none;
}

.skip-to-content-block .short-nav-list.expanded {
  display: block;
  position: absolute;
  left: 0;
  z-index: 1000;
  
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-right-width: 2px;
  border-bottom-width: 2px;

  border-radius: 6px;

  box-shadow: 0 5px 10px rgba(0,0,0,0.2);

  background-clip: padding-box;
}

.skip-to-content-block .short-nav-list > li[role='separator'] {
  padding-left: 20px;
  margin-top: 9px;
  font-weight: bold;
  border-bottom: thin solid black;
}

.skip-to-content-block .short-nav-list > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}


.notification {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  transition: opacity 0.5s;
  opacity: 0;
  visibility: hidden;

  font-weight: bold;

  background-color: beige;
}

.notification.notification-shown {
  opacity: 1;
  visibility: visible;
}